# This ignores files without an extension (e.x. C++ binaries)
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore all directories that store datafiles
**/Data

# Ignore LaTeX files
*.aux
*.log
*.synctex.gz
*.tex
*.png
